<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Mep's
    link(rel="stylesheet", href="./main.css")
body
    .wrap
        header.header
            .header__logo
                a(href="http://www.meps.com.co" target="_blank")
                    img(src="headerLogo.png", alt="Logo Mep's")
            .header__banner
                a(href="http://www.meps.com.co" target="_blank")
                    img(src="banner.png", alt="")
        section
            article.promocion
                h2.promocion__title La Promoción Incluye
                .promocion__body
                    ul
                        li
                            span Diseño de Banners
                        li
                            span Implementación de seguridad en el sitio web
                        li
                            span Implementación de estadísticas de visitas en el sitio web
                        li
                            span Implementación de protocolo seguro de transferencia de             Hipertexto - <strong>HTTPS:</strong>
                        li
                            span Evitar fraude electronico y suplantacion de identidad
                        li
                            span Desarrollo del módulo administrativo
                        li
                            span Auditoria constante al sitio web
                        li
                            span Desarrollo de una interfaz clara y simplificada
                        li
                            span Soporte por medio de Ticket o Presencial
                        li
                            span <strong> Paquete Mensajeria de Marketing: </strong> 1.000 correos electrónicos y 200 mensajes de texto
                    p.promocion__condiciones Aplican condiciones y restricciones: 1 de Diciembre hasta 31 de Diciembre del 2015.<br> No Incluye material visual para elaboración de artes (fotos, videos,etc).<br> *El precio publicado no incluye IVA del 16%.
                    a.promocion__btn(href="http://meps.com.co" target="_blank") Más Información
            article.servicios
                h2.servicios__title Servicios Adicionales
                a(href="http://meps.com.co" target="_blank").servicios__body
                    img(src="publipan.png", alt="Publipan")
                    img(src="callCenter.png", alt="Call Center")
                    img(src="marketing.png", alt="Marketing")
                    img(src="desarrollo.png", alt="Desarrollo Web")
        footer.footer
            .footer__links
                img(src="footerLogo.png", alt="logo mep's")
                a(href="http://meps.com.co" target="_blank") www.meps.com.co
                a(href="https://mepscloud.com" target="_blank") www.mepscloud.com
                    
            .footer__dir
                span.footer-dir Calle 11 # 7-39 - Edificio Fenalco Neiva-Huila - Colombia
            .footer__contact
                span.footer-contact 315 586 2421 gerente.comercial@meps.com.co
        
